<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙쉐어 - 관리자</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<%include ./nav.ejs %>
<div class="container-fluid login-wrapper">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <%if(!isAdmin){%>
            <div>
                <h1>관리자 로그인</h1>
                <p>
                    <label for="id">아이디</label>
                    <input type="text" class="form-control" id="id" name="id">
                </p>
                <p>
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password">
                </p>
                <p>
                    <button class="btn btn-block btn-primary btn-login">로그인</button>
                </p>
            </div>
            <%} else {%>
            <div class="">
                <h1>반갑습니다. 관리자 <%=user.id%>님</h1>
                <div class="">
                    <h3>관리 목록</h3>
                    <a href="/admin/users" class="btn btn-primary">유저 목록</a>
                    <a href="/admin/rent" class="btn btn-primary">대여 요청 목록</a>
                    <a href="/admin/sell" class="btn btn-primary">구매 요청 목록</a>
                    <a href="/admin/products" class="btn btn-primary">작품 목록</a>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var send = false;
        $('.btn-login').on('click', function() {
            if(send) {
                alert("로그인 중 입니다.");
                return;
            }
            send = true;
            var $this = $(this);

            var $id = $('input[name=id]');
            var $password = $('input[name=password]');

            if($id.val() === "") {
                alert("아이디를 확인해주세요.");
                $id.focus();
                send = false;
                return;
            }

            if($password.val() === "") {
                alert("비밀번호를 확인해주세요.");
                $password.focus();
                send = false;
                return;
            }

            $.ajax({
                type: 'post',
                url: '/users/login',
                data: {
                    id: $id.val(),
                    password: $password.val()
                },
                success: function(result) {
                    if(result.code == 0) {
                        alert("입력정보를 확인해주세요.");
                    } else {
                        location.reload(true);
                    }
                },
                error: function() {
                    alert("잠시 후 다시 시도해주세요.");
                },
                complete: function() {
                    send = false;
                }
            });
        });
    });
</script>
</body>
</html>
