<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙쉐어 - 관리자</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<%include ./nav.ejs %>
<div class="container-fluid login-wrapper">
    <form method="post">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-1">
                <h1>상품 상세보기</h1>
                <p class="images">
                    <label for="image">이미지</label>
                    <%for(let i =0;i<images.length;i++){%>
                    <img src="<%=images[i].image_url%>">
                    <%}%>
                </p>
                <p>
                    <label for="title">상품이름</label>
                    <input type="text" value="<%=product.title%>" name="title" class="form-control" id="title">
                </p>
                <p>
                    <label for="author">작가명</label>
                    <input type="text" value="<%=product.author%>" name="author" class="form-control" id="author">
                </p>
                <p>
                    <label for="sell-price">판매가</label>
                    <input type="text" value="<%=product.sell_price%>" name="sell_price" class="form-control" id="sell-price">
                </p>
                <p>
                    <label for="rent-price">대여가</label>
                    <input type="text" value="<%=product.rent_price%>" name="rent_price" class="form-control" id="rent-price">
                </p>
                <p>
                    <label for="one-line">한줄소개</label>
                    <input type="text" value="<%=product.one_line%>" name="one_line" class="form-control" id="one-line">
                </p>
                <p>
                    <label for="contents">장문소개</label>
                    <textarea class="form-control" name="contents" id="contents" rows="10"><%=product.contents%></textarea>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <h2>거래 목록</h2>
                <div>
                    <h3>대여 목록</h3>
                    <ul>
                        <%for(let i = 0 ; i < rentList.length; i++) {%>
                        <li>
                            <p>
                                <a href="/admin/rent/<%=rentList[i].product%>"><%=rentList[i].title%> - <%=rentList[i].author%></a>
                                <span class="<%=rentList[i].md_checked ? "check" : "non-check"%>">
                                    <%=rentList[i].md_checked ? "체크완료" : "체크중"%>
                                </span>
                            </p>
                        </li>
                        <%}%>
                    </ul>
                </div>
                <div>
                    <h3>매입 목록</h3>
                    <ul>
                        <%for(let i = 0 ; i < sellList.length; i++) {%>
                        <li>
                            <p>
                                <a href="/admin/sell/<%=sellList[i].product%>"><%=sellList[i].title%> - <%=sellList[i].author%></a>
                                <span class="<%=sellList[i].md_checked ? "check" : "non-check"%>">
                                    <%=sellList[i].md_checked ? "체크완료" : "체크중"%>
                                </span>
                            </p>
                        </li>
                        <%}%>
                    </ul>
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <p>
                    <button type="button" class="btn btn-danger btn-back">
                        이전
                    </button>
                    <button type="submit" class="btn btn-primary">
                        수정
                    </button>
                </p>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $(".btn-back").click(function() {
            history.back();
        });
    });
</script>
</body>
</html>
