<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙쉐어 - 관리자</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<%include ./nav.ejs %>
<div class="container-fluid login-wrapper">
        <div class="row">
            <form method="post" enctype="multipart/form-data">
                <div class="col-lg-4 col-lg-offset-1">
                    <h1>상품 상세보기</h1>
                    <p>
                        <label for="title">상품이름</label>
                        <input type="text" name="title" class="form-control" id="title">
                    </p>
                    <p>
                        <label for="author">작가명</label>
                        <input type="text" name="author" class="form-control" id="author">
                    </p>
                    <p>
                        <label for="sell-price">판매가</label>
                        <input type="number" name="sell_price" class="form-control" id="sell-price">
                    </p>
                    <p>
                        <label for="rent-price">대여가</label>
                        <input type="number" name="rent_price" class="form-control" id="rent-price">
                    </p>
                    <p>
                        <label for="one-line">한줄소개</label>
                        <input type="text" name="one_line" class="form-control" id="one-line">
                    </p>
                    <p>
                        <label for="contents">장문소개</label>
                        <textarea class="form-control" name="contents" id="contents" rows="10"></textarea>
                    </p>
                    <p>
                        <label for="is-sell">판매가능</label>
                        <input type="checkbox" name="is_sell" value="1" id="is-sell" checked>
                    </p>
                    <p>
                        <label for="is-rent">대여가능</label>
                        <input type="checkbox" name="is_rent" value="1" id="is-rent" checked>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-1">
                    <h1>상품 이미지</h1>
                    <input type="file" name="image">
                    <input type="file" name="image">
                    <input type="file" name="image">
                    <input type="file" name="image">
                    <input type="file" name="image">
                </div>
                <div class="col-lg-10 col-lg-offset-1">
                    <p>
                        <button type="button" class="btn btn-danger btn-back">
                            이전
                        </button>
                        <button type="submit" class="btn btn-primary">
                            생성
                        </button>
                    </p>
                </div>
            </form>
        </div>
</div>
<script>
    $(document).ready(function() {
        $(".btn-back").click(function() {
            history.back();
        });
    });
</script>
</body>
</html>
