<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙쉐어 - 관리자</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<%include ./nav.ejs %>
<div class="container-fluid login-wrapper">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <table class="table">
                <thead>
                <tr>
                    <th>연번</th>
                    <th>상품</th>
                    <th>문의날자</th>
                    <th>상세보기</th>
                </tr>
                </thead>
                <tbody>
                <%for(let i = 0; i < sellList.length; i++) {%>
                <tr>
                    <td><%=sellList[i].seq%></td>
                    <td><%=sellList[i].title%> - <%=sellList[i].author%></td>
                    <td><%=moment(sellList[i].created).format('YYYY.MM.DD')%></td>
                    <td>
                        <a href="/admin/sell/<%=sellList[i].seq%>">상세보기</a>
                    </td>
                </tr>
                <%}%>
                </tbody>
            </table>

            <div style="text-align: center;">
                <ul class="pagination">
                    <%for(let i = 0; i < count / 30 ; i++ ) {%>
                    <li <% if(page===i) {%>class="active"<%}%>><a href="?page=<%=i%>"><%=i+1%></a></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
