<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙쉐어 - 관리자</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=48qbNDF6xoMDMoOwdDLI"></script>
</head>
<body>
<%include ./nav.ejs %>
<div class="container-fluid login-wrapper">
    <form method="post">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>대여 문의 상세보기</h1>
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                <div>
                    <label>상품정보</label>
                    <p>
                        <%=sell.title%> - <%=sell.author%> <a href="/admin/products/<%=sell.product%>">상세보기</a>
                    </p>
                </div>
                <div>
                    <label>고객정보</label>
                    <p>
                        <%=sell.id%> 고객님 <a href="/admin/users/<%=sell.user%>">상세보기</a>
                    </p>
                </div>
                <div>
                    <label>현재상태</label>
                    <p>
                        <span class="<%=sell.md_checked ? "check" : "non-check"%>">
                            <%=sell.md_checked ? "체크완료" : "체크중"%>
                        </span>
                    </p>
                </div>
                <div>
                    <label>문의날짜</label>
                    <p>
                        <%=moment(sell.created).format('YYYY.MM.DD')%>
                    </p>
                </div>
                <div>
                    <label>기타 사항</label>
                    <p>
                        <%=sell.etc%>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-1">
                <div>
                    <label>주소</label>
                    <p>
                        <%=sell.address%>
                    </p>
                    <div id="map" style="width:100%;height:400px;"></div>
                </div>
            </div>
            <div class="col-lg-10 col-lg-offset-1">
                <p>
                    <button type="button" class="btn btn-danger btn-back">
                        이전
                    </button>
                    <button type="button" class="btn btn-primary btn-confirm">
                        MD 확인
                    </button>
                </p>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        $(".btn-back").click(function() {
            history.back();
        });

        $('.btn-confirm').click(function() {
            $.ajax({
                url: '/admin/sell/checked/<%=sell.seq%>',
                type: 'post',
                success: function(result){
                    location.reload();
                }
            })
        });
    });

    var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10
    };

    var map = new naver.maps.Map('map', mapOptions);
</script>
</body>
</html>
