<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙쉐어 - 관리자</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<%include ./nav.ejs %>
<div class="container-fluid login-wrapper">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h1>유저 상세보기</h1>
            <p>
                <label for="id">아이디</label>
                <input type="text" value="<%=user.id%>" class="form-control" id="id" readonly>
            </p>
            <p>
                <label for="email">이메일</label>
                <input type="text" value="<%=user.email%>" class="form-control" id="email">
            </p>
            <p>
                <label for="email">비밀번호</label>
                <input type="password" value="" class="form-control" id="email">
            </p>
            <p>
                <label for="created">가입일</label>
                <input type="text" value="<%=moment(user.created ).format('YYYY.MM.DD')%>" id="created" class="form-control">
            </p>
            <p>
                <label for="created">수정일</label>
                <input type="text" value="<%=moment(user.modified ).format('YYYY.MM.DD')%>" id="created" class="form-control">
            </p>
        </div>
        <div class="col-lg-5 col-lg-offset-1">
            <h2>유저 거래 목록</h2>
            <div>
                <h3>대여 목록</h3>
                <ul>
                <%for(let i = 0 ; i < rentList.length; i++) {%>
                    <li>
                        <p>
                            <a href="/admin/rent/<%=rentList[i].product%>"><%=rentList[i].title%> - <%=rentList[i].author%></a>
                            <span class="<%=rentList[i].md_checked ? "check" : "non-check"%>">
                                <%=rentList[i].md_checked ? "체크완료" : "체크중"%>
                            </span>
                        </p>
                    </li>
                <%}%>
                </ul>
            </div>
            <div>
                <h3>매입 목록</h3>
                <ul>
                    <%for(let i = 0 ; i < sellList.length; i++) {%>
                    <li>
                        <p>
                            <a href="/admin/sell/<%=sellList[i].product%>"><%=sellList[i].title%> - <%=sellList[i].author%></a>
                            <span class="<%=sellList[i].md_checked ? "check" : "non-check"%>">
                                <%=sellList[i].md_checked ? "체크완료" : "체크중"%>
                            </span>
                        </p>
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <p>
                <button type="button" class="btn btn-primary btn-back">
                    이전
                </button>
            </p>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".btn-back").click(function() {
            location.href = "/admin/product";
        });
    });
</script>
</body>
</html>
