<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙쉐어 - 관리자</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<%include ./nav.ejs %>
<div class="container-fluid login-wrapper">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <table class="table">
                <thead>
                    <tr>
                        <th>연번</th>
                        <th>아이디</th>
                        <th>비밀번호</th>
                        <th>가입일자</th>
                        <th>상세보기</th>
                    </tr>
                </thead>
                <tbody>
                    <%for(let i = 0; i < userList.length; i++) {%>
                    <tr>
                        <td><%=userList[i].seq%></td>
                        <td><%=userList[i].id%></td>
                        <td>*********</td>
                        <td><%=moment(userList[i].created).format('YYYY.MM.DD')%></td>
                        <td>
                            <a href="/admin/users/<%=userList[i].seq%>">확인</a>
                        </td>
                    </tr>
                    <%}%>
                </tbody>
            </table>

            <div style="text-align: center;">
                <ul class="pagination">
                    <%for(let i = 0; i < count / 30 ; i++ ) {%>
                    <li <% if(page===i) {%>class="active"<%}%>><a href="?page=<%=i%>"><%=i+1%></a></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
