<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙 쉐어 - 세상의 모든 작품</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/common.js"></script>
</head>
<body>
<div class="wrapper">
    <% include nav.ejs %>
    <section class="signup-wrapper">
        <div class="content-wrapper">
            <form method="post" action="/users/findID">
                <div class="signup-block">
                    <h1>아 이 디 찾 기</h1>
                    <div class="row">
                        <div class="input-wrapper">
                            <label for="email">이메일</label>
                            <div class="input-group">
                                <p><input type="text" placeholder="이메일을 입력해주세요." id="email" name="email"></p>
                            </div>
                        </div>
                        <p class="error-p email-error"></p>
                    </div>
                    <div class="row">
                        <div class="input-wrapper btn-wrapper">
                            <button type="button" class="prev-btn btn">
                                이전
                            </button>
                            <button type="button" class="submit-btn btn">
                                아이디찾기
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<% include footer.ejs %>
<script>
    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }

    $(document).ready(function() {
        $('.prev-btn').on("click", function() {
            history.back();
        });

        $('.submit-btn').on("click", function() {
            var $email = $('input[name=email]');
            var $error = $('.email-error');

            if(!$email.val()) {
                $error.text("이메일을 넣어주세요.");
                return;
            }

            if(!validateEmail($email.val())) {
                $error.text("이메일 형식을 확인해주세요.");
                return;
            }

            $('form').submit();
        });
    });
</script>
</body>
</html>
