<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙 쉐어 - 세상의 모든 작품</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/common.js"></script>
</head>
<body>
<div class="wrapper">
    <% include nav.ejs %>
    <section class="signup-wrapper">
        <div class="content-wrapper">
            <form method="post" action="/users/findPW">
                <div class="signup-block">
                    <h1>비 밀 번 호 찾 기</h1>
                    <div class="row">
                        <div class="input-wrapper">
                            <label for="id">아이디</label>
                            <div class="input-group">
                                <p><input type="text" placeholder="아이디를 입력해주세요." id="id" name="id"></p>
                            </div>
                        </div>
                        <p class="error-p id-error"></p>
                    </div>
                    <div class="row">
                        <div class="input-wrapper">
                            <label for="email">이메일</label>
                            <div class="input-group">
                                <p><input type="text" placeholder="이메일을 입력해주세요." id="email" name="email"></p>
                            </div>
                        </div>
                        <p class="error-p email-error"></p>
                    </div>
                    <div class="row">
                        <div class="input-wrapper btn-wrapper">
                            <button type="button" class="prev-btn btn">
                                이전
                            </button>
                            <button type="button" class="submit-btn btn">
                                비밀번호 찾기
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<% include footer.ejs %>
<script>
    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }

    $(document).ready(function() {
        var validation = {
            id: false,
            email: false
        };

        $('.prev-btn').on("click", function() {
            history.back();
        });

        $('.submit-btn').on("click", function() {
            var $email = $('input[name=email]');
            var $error_id = $('.id-error');
            var $error_email = $('.email-error');
            var $id = $('input[name=id]');


            if($id.val().length <= 5) {
                $error_id.text("* 6자 이상으로 해주세요.");
                return;
            }

            if(!$email.val()) {
                $error_email.text("이메일을 넣어주세요.");
                return;
            }

            if(!validateEmail($email.val())) {
                $error_email.text("이메일 형식을 확인해주세요.");
                return;
            }

            $('form').submit();
        });
    });
</script>
</body>
</html>
