<footer>
    <div>
        <p>경기도 시흥시 산기대학로 237 (정왕동) 10층 | 현: 소프트 대표 김민성 정보책임자 김민성</p>
        <p>@Copyright 2018 HyeonSoft all right reserved.</p>
    </div>
</footer>
<section class="modal-box login-box">
    <div class="login-wrapper modal-wrapper">
        <div class="btn-close">
            <img src="/images/x.png">
        </div>
        <h1>로 그 인</h1>
        <p>
            <input type="text" name="id" placeholder="id를 입력해주세요.">
        </p>
        <p>
            <input type="password" name="password" placeholder="패스워드를 입력해주세요.">
        </p>
        <p>
            <button type="button" class="login">
                로그인
            </button>
            <button type="button" class="signup" onclick="location.href='/users/signup'">
                회원가입
            </button>
        </p>
        <div class="find-wrapper">
            <div class="find-id-wrapper">
                <p>아이디를 까먹으셨나요?</p>
                <p>
                    <a href="/users/findID">아이디 찾기</a>
                </p>
            </div>
            <div class="find-password-wrapper">
                <p>비밀번호를 까먹으셨나요?</p>
                <p>
                    <a href="/users/findPW">비밀번호 찾기</a>
                </p>
            </div>
        </div>
    </div>
</section>