<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙 쉐어 - 세상의 모든 작품</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/common.js"></script>
</head>
<body>
<div class="wrapper">
    <% include nav.ejs %>
    <section class="signup-wrapper">
        <div class="content-wrapper">
            <div class="signup-block">
                <h1>아 이 디 찾 기</h1>
                <div class="row">
                    <div class="getID-wrapper">
                        <p>
                            고객님의 아이디는  <span class="highlight"><%=id%></span>입니다
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="input-wrapper btn-wrapper">
                        <button type="button" class="submit-btn btn">
                            확인
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<% include footer.ejs %>
<script>
    $(document).ready(function() {
        $('.submit-btn').on('click', function() {
            location.href = '/';
        });
    });
</script>
</body>
</html>
