<!DOCTYPE html>
<html>
    <head>
        <title>쏙쏙 쉐어 - 세상의 모든 작품</title>
        <link rel='stylesheet' href='/stylesheets/reset.css' />
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/index.css' />
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/javascripts/common.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <% include nav.ejs %>
            <div class="main-wrapper">
                <div class="content-wrapper">
                    <div class="slogan">
                        <div class="title">쏙쏙 쉐어</div>
                        <div class="sub-title">세상의 모든 작품 다 모였다!</div>
                        <br>
                        <p>
                            3개월 마다 그림 교체,<br>
                            그림렌탈, 쏙쏙 쉐어
                        </p>
                        <p class="togo-wrapper">
                            <a href="/product">작품 구경하기</a>
                        </p>
                    </div>
                    <p class="introduce">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/whkq79BSbos" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </p>
                </div>
            </div>
            <section class="product-wrapper">
                <div class="content-wrapper">
                    <h1>
                        이 달의 상품
                        <a href="/product">더보기</a>
                    </h1>
                    <ul>
                        <%for(let i =0; i < 9;i++){%>
                        <li>
                            <a href="/product/<%=productList[i].seq%>">
                                <div class="product-image-wrapper">
                                    <img src="<%=productList[i].image_url%>">
                                    <% if(productList[i].is_sell) {%>
                                    <span class="product-sell">판매</span>
                                    <%}%>
                                    <% if(productList[i].is_rent) {%>
                                    <span class="product-rent">대여</span>
                                    <%}%>
                                </div>
                                <p>
                                    <span class="product-name"><%=productList[i].title%></span>
                                    <span class="product-date"><%=moment(productList[i].created).format('YYYY.MM.DD')%></span>
                                </p>
                            </a>
                        </li>
                        <%}%>
                    </ul>
                </div>
            </section>
            <section class="service-review">
                <div class="content-wrapper">
                    <div class="author-wrapper">
                        <h1>작가 후기</h1>
                        <ul>
                            <li>
                                <div class="image-wrapper">
                                    <img src="/images/author-0.png">
                                </div>
                                <div class="text-wrapper">
                                    <p class="author-name">양영순</p>
                                    <p class="author-wording">
                                        판타지가 나오면 덮어버리는 분들이 많은데요” 인터뷰 중에 나온 이 한 마디에 뜨끔했다. 사실 이 작가의 작품을 읽기 전까지 나도 비슷한 경향이 있었기 때문이다.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image-wrapper">
                                    <img src="/images/author-1.png">
                                </div>
                                <div class="text-wrapper">
                                    <p class="author-name">하정우</p>
                                    <p class="author-wording">
                                        지난 11월 27일 합정의 한 북카페에서 배우 하정우의 에세이 『걷는 사람, 하정우』 출간 기념 기자간담회가 열렸다. 이번에 출간한 에세이 『걷는 사람, 하정우』는 2011년 출간한 에세이 『하정우 느낌 있다』에 이은 두 번째 책
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="image-wrapper">
                                    <img src="/images/author-2.png">
                                </div>
                                <div class="text-wrapper">
                                    <p class="author-name">김성모</p>
                                    <p class="author-wording">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="service-review-wrapper">
                        <h1>서비스 후기</h1>
                        <ul>
                            <li>
                                <p class="name">황** 씨 <span class="star-level"></span></p>
                                <p class="content">
                                    친절하게 응대해주시고 적극적으로 더 좋은 도장이 나오도록 해주셨어요 시안이나 사진으로 샘플 보여주신것 보다 실제로 받아서 찍어보니 더 좋네요 ^^ 좋은 가격에 좋은 제품 구매해서 기분이 좋습니다. 감사합니다.
                                </p>
                            </li>
                            <li>
                                <p class="name">이** 씨 <span class="star-level"></span></p>
                                <p class="content">
                                    A/S도 확실하고 여러 부분에서 검토시 퀄리티를 본다면 이곳을 추천 드리고 싶네요ㅎㅎ
                                </p>
                            </li>
                            <li>
                                <p class="name">김** 씨 <span class="star-level"></span></p>
                                <p class="content">
                                    친절하게 설명도 해주시고 여러가지로 감사합니다~
                                    다음에 또 연락드리겠습니다. 수고하세요~^^/
                                </p>
                            </li>
                            <li>
                                <p class="name">박** 씨 <span class="star-level"></span></p>
                                <p class="content">
                                    친절하게 응대해주시고 적극적으로 더 좋은 도장이 나오도록 해주셨어요.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <% include footer.ejs %>
    </body>
</html>
