<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙 쉐어 - 세상의 모든 작품</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/users.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/common.js"></script>
</head>
<body>
<div class="wrapper">
    <% include nav.ejs %>
    <div class="title-wrapper">
        <h1 class="title-slogan">내 정보
        </h1>
    </div>
    <div class="user-wrapper">
        <div class="content-wrapper">
            <div class="my-info-wrapper">
                <h1>
                    <img src="/images/avatar.png" width="20px"> 정보
                </h1>
                <div class="content-part">
                    <div class="nav-part">
                        <ul>
                            <li class="on">
                                <a>내 정보</a>
                            </li>
                            <li>
                                <a href="/users/myrent">내 대여 목록</a>
                            </li>
                            <li>
                                <a href="/users/mysell">내 구매 목록</a>
                            </li>
                        </ul>
                    </div>
                    <div class="info-part">
                        <form method="post">
                            <div>
                                <label for="id">아이디</label>
                                <input type="text" readonly id="id" name="id" value="<%=userInfo.id%>">
                            </div>
                            <div>
                                <label for="password">기존 비밀번호</label>
                                <input type="password" id="password" name="password">
                            </div>
                            <div>
                                <label for="new-password">새로운 비밀번호</label>
                                <input type="password" id="new-password" name="password_new">
                            </div>
                            <div>
                                <label for="new-password-chk">새로운 비밀번호 확인</label>
                                <input type="password" id="new-password-chk" name="password_new_check">
                            </div>
                            <div>
                                <label for="email">이메일</label>
                                <input type="text" id="email" value="<%=userInfo.email%>" name="email">
                            </div>
                            <div class="btn-wrapper">
                                <button type="submit" class="btn-submit">수정하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>
<script>
    <% if(message) {%>
    alert("<%=message%>");
    <%}%>
    $(document).ready(function() {
    });
</script>
</body>
</html>
