<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙 쉐어 - 세상의 모든 작품</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/users.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/common.js"></script>
</head>
<body>
<div class="wrapper">
    <% include nav.ejs %>
    <div class="title-wrapper">
        <h1 class="title-slogan">내 대여 목록
        </h1>
    </div>
    <div class="user-wrapper">
        <div class="content-wrapper">
            <div class="my-info-wrapper">
                <h1>
                    <img src="/images/avatar.png" width="20px"> 정보
                </h1>
                <div class="content-part">
                    <div class="nav-part">
                        <ul>
                            <li>
                                <a href="/users/mypage">내 정보</a>
                            </li>
                            <li class="on">
                                <a>내 대여 목록</a>
                            </li>
                            <li>
                                <a href="/users/mysell">내 구매 목록</a>
                            </li>
                        </ul>
                    </div>
                    <div class="info-part">
                        <div class="wait-block">
                            <h1>
                                대기 중 목록
                            </h1>
                            <ul>
                                <%
                                let isExist = false;
                                for(let i = 0; i < rentList.length ; i++) { %>
                                <% if(!rentList[i].md_checked) {
                                isExist = true;
                                %>
                                <li>
                                    <a href="/product/<%=rentList[i].product%>">
                                        <span class="title"><%=rentList[i].title%></span> -<span class="author"><%=rentList[i].author%></span> 시작시간: <%=moment(rentList[i].start_date ).format('YYYY.MM.DD')%> 대여일수: <%=rentList[i].rent_day%>일
                                    </a>
                                </li>
                                <%}%>
                                <%}%>
                                <%if(!isExist){%>
                                <li>
                                    대기 중인 항목이 없습니다.
                                </li>
                                <%}%>
                            </ul>
                        </div>
                        <div class="md-block">
                            <h1>
                                MD 확인 목록
                            </h1>
                            <ul>
                                <%
                                isExist = false;
                                for(let i = 0; i < rentList.length ; i++) { %>
                                <% if(rentList[i].md_checked) {
                                isExist = true;
                                %>
                                <li>
                                    <a href="/product/<%=rentList[i].product%>">
                                        <span class="title"><%=rentList[i].title%></span> -<span class="author"><%=rentList[i].author%></span> 시작시간: <%=moment(rentList[i].start_date ).format('YYYY.MM.DD')%> 대여일수: <%=rentList[i].rent_day%>일
                                    </a>
                                </li>
                                <%}%>
                                <%}%>
                                <%if(!isExist){%>
                                <li>
                                    MD가 확인 중인 항목이 없습니다.
                                </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>
</body>
</html>
