<% if(!user) { %>
<nav>
    <a class="tohome" href="/">홈으로</a>
    <a class="btn-login-open">로그인</a>
    <a href="/users/signup">회원가입</a>
</nav>
<%} else {%>
<nav>
    <a class="tohome" href="/">홈으로</a>
    <a href="/users/mypage"><%=user.id%>님</a>
    <a href="/users/logout">로그아웃</a>
</nav>
<%}%>