<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙 쉐어 - 세상의 모든 작품</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/product.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/common.js"></script>
</head>
<body>
<%
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
%>
<div class="wrapper">
    <% include nav.ejs %>
    <div class="item-summery-wrapper">
        <div class="content-wrapper">
            <h1>작품 소개</h1>
            <div class="content-block">
                <div class="image-wrapper">
                    <ul class="images">
                        <%for(let i = 0; i < productImages.length; i++) {%>
                        <li <%if(i==0){%>class="on"<%}%>>
                            <img src="<%=productImages[i].image_url%>">
                        </li>
                        <%}%>
                    </ul>
                    <ul class="indicators">
                        <%for(let i = 0; i < productImages.length; i++) {%>
                        <li <%if(i==0){%>class="on"<%}%>></li>
                        <%}%>
                    </ul>
                </div>
                <div class="product-introduce-wrapper">
                    <div class="header">
                        <div class="author">
                            <%=product.author%> 작가님의
                        </div>
                        <h1>
                            <%=product.title%>
                            <a class="btn-like">
                            </a>
                        </h1>
                        <% if(product.one_line) { %>
                        <h2>
                            “ <%=product.one_line%> ”
                        </h2>
                        <%}%>
                    </div>
                    <div class="body">
                        <div class="row">
                            <span class="label">제작년도</span>
                            <span class="value"><%=moment(product.created).format('YYYY.MM.DD')%></span>
                        </div>
                        <div class="row">
                            <p class="label hide-label">작품설명</p>
                            <p class="hide-value on">
                                <%-product.contents.replace("\n", "<br>")%>
                            </p>
                        </div>
                        <% if(product.is_sell) {%>
                        <div class="row">
                            <p>
                                <span class="label">구매가</span>
                                <span class="value"><%=numberWithCommas(product.sell_price)%>원</span>
                            </p>
                        </div>
                        <%}%>
                        <% if(product.is_rent) {%>
                        <div class="row">
                            <p>
                                <span class="label">대여가</span>
                                <span class="value"><%=numberWithCommas(product.rent_price)%>원 / 일</span>
                            </p>
                        </div>
                        <%}%>
                        <div class="row btns-wrapper">
                            <% if(product.is_rent) {%>
                            <a class="btn-rent">대여하기</a>
                            <%}%>
                            <% if(product.is_sell) {%>
                            <a class="btn-buy">구매하기</a>
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item-similar-wrapper">
        <div class="content-wrapper">
            <h1>유사 작품 목록</h1>
            <div class="content-block">
                <div class="btn-scroll-left btn-scroll">
                    <img src="/images/arrow-left.png">
                </div>
                <ul class="similar-items">
                    <% for(let i = 0; i < 10 ; i++) { %>
                    <li>
                        <div class="image-wrapper">
                            <img src="<%=recommends[i].image_url%>">
                        </div>
                        <p><%=recommends[i].title%></p>
                    </li>
                    <%}%>
                </ul>
                <div class="btn-scroll-right btn-scroll">
                    <img src="/images/arrow-right.png">
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>
<section class="modal-box rent-request">
    <div class="rent-request-wrapper modal-wrapper">
        <div class="btn-close">
            <img src="/images/x.png">
        </div>
        <h1>대여 신청서</h1>
        <input type="hidden" value="" name="product_id">
        <div class="row">
            <label for="select-purpose">대여목적</label>
            <div class="input-group">
                <select name="purpose" id="select-purpose">
                    <option value="전시">전시</option>
                    <option value="이벤트">이벤트</option>
                    <option value="기타">기타</option>
                </select>
            </div>
        </div>
        <div class="row rent-day-wrapper">
            <label for="input-day">대여일수</label>
            <div class="input-group">
                <input type="number" name="day" id="input-day" value="1">
                일
            </div>
        </div>
        <div class="row">
            <label for="input-start">대여시작시간</label>
            <div class="input-group">
                <input type="text" name="start" id="input-start">
            </div>
        </div>
        <div class="row address-wrapper">
            <label for="inpu-rent-address">주소</label>
            <div class="input-group">
                <input type="text" name="address-1" id="input-rent-address">
                <input type="text" name="address-2" id="input-rent-address-2">
            </div>
        </div>
        <div class="row">
            <label for="textarea-etc">기타사항</label>
            <div class="input-group">
                <textarea name="rent-etc" id="textarea-etc" rows="5"></textarea>
            </div>
        </div>
        <div class="row">
            <a class="btn-request-rent btn">대여문의</a>
        </div>
    </div>
</section>

<section class="modal-box buy-request">
    <div class="buy-request-wrapper modal-wrapper">
        <div class="btn-close">
            <img src="/images/x.png">
        </div>
        <h1>구매 신청서</h1>
        <input type="hidden" value="" name="product_id">
        <div class="row">
            <label for="select-target">구매기관</label>
            <div class="input-group">
                <select name="organization" id="select-target">
                    <option value="공공">공공</option>
                    <option value="개인">개인</option>
                    <option value="법인">법인</option>
                    <option value="기타">기타</option>
                </select>
            </div>
        </div>
        <div class="row address-wrapper">
            <label for="input-buy-address">주소</label>
            <div class="input-group">
                <input type="text" name="address-1" id="input-buy-address">
                <input type="text" name="address-2" id="input-buy-address-2">
            </div>
        </div>
        <div class="row">
            <label for="textarea-buy-etc">기타사항</label>
            <div class="input-group">
                <textarea name="buy-etc" id="textarea-buy-etc" rows="5"></textarea>
            </div>
        </div>
        <div class="row">
            <a class="btn-request-sell btn">구매문의</a>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        $('.product-introduce-wrapper .label').on('click', function() {
            var $this = $(this);
            $this.parent('.row').find('.hide-value').toggle('on');
        });

        $('.btn-scroll-left').on("click", function() {
            var $items = $('.similar-items');

            $items.animate({ scrollLeft : '-=150'}, 500);
        });

        $('.btn-scroll-right').on("click", function() {
            var $items = $('.similar-items');

            $items.animate({ scrollLeft : '+=150'}, 500);
        });

        var $btnRent = $('.item-summery-wrapper .btn-rent');
        var $btnBuy = $('.item-summery-wrapper .btn-buy');

        <%if(user) {%>
        $btnRent.on('click', function(){
            $(".modal-box.rent-request").show();
        });

        $btnBuy.on('click', function(){
            $(".modal-box.buy-request").show();
        });
        <%} else {%>
        $btnRent.on('click', function(){
            $(".modal-box.login-box").show();
        });

        $btnBuy.on('click', function(){
            $(".modal-box.login-box").show();
        });
        <%}%>

        $('.btn-request-rent').on('click', function() {
            var $purpose = $('#select-purpose');
            var $etc = $('textarea[name=rent-etc]');
            var $startDate = $('input[name=start]');
            var $day = $('input[name=day]');
            var $address1 = $('#input-rent-address');
            var $address2 = $('#input-rent-address-2');

            $.ajax({
                url: '/product/rent/<%=product.seq%>',
                type: "post",
                data: {
                    purpose: $purpose.val(),
                    etc: $etc.val(),
                    startDate: $startDate.val(),
                    day: $day.val(),
                    address: $address1.val() + " " + $address2.val()
                },
                success: function(result) {
                    if(result.code === 0){
                        alert("로그인 후 다시 이용해주세요.");
                    } else if(result.code === 1) {
                        alert("접수가 완료되었습니다. \nMD 검토 후 연락드리겠습니다.");
                    } else if(result.code === 2) {
                        alert("상품이 존재하지 않습니다.");
                    } else if(result.code === 3) {
                        alert("대여가능한 상품이 아닙니다.");
                    }
                    location.reload();
                },
                error: function() {
                    alert("서버에 오류가 났습니다.\n잠시 후 시도해주세요.");
                    location.reload();
                }
            })
        });

        $('.btn-request-sell').on('click', function() {
            var $organization = $('#select-purpose');
            var $etc = $('textarea[name=buy-etc]');
            var $address1 = $('#input-buy-address');
            var $address2 = $('#input-buy-address-2');

            $.ajax({
                url: '/product/sell/<%=product.seq%>',
                type: "post",
                data: {
                    organization: $organization.val(),
                    etc: $etc.val(),
                    address: $address1.val() + " " + $address2.val()
                },
                success: function(result) {
                    if(result.code === 0){
                        alert("로그인 후 다시 이용해주세요.");
                    } else if(result.code === 1) {
                        alert("접수가 완료되었습니다. \nMD 검토 후 연락드리겠습니다.");
                    } else if(result.code === 2) {
                        alert("상품이 존재하지 않습니다.");
                    } else if(result.code === 3) {
                        alert("구매가능한 상품이 아닙니다.");
                    }
                    location.reload();
                },
                error: function() {
                    alert("서버에 오류가 났습니다.\n잠시 후 시도해주세요.");
                    location.reload();
                }
            })
        });
    });
</script>
</body>
</html>
