<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙 쉐어 - 세상의 모든 작품</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/product.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/common.js"></script>
</head>
<body>
<div class="wrapper">
    <% include nav.ejs %>
    <div class="title-wrapper">
        <h1 class="title-slogan">작품 리스트</h1>
        <div class="selector-wrapper">
            <ul>
                <li>
                    <img src="/images/drawing-icon.png">
                    <span>일러스트</span>
                </li>
                <li>
                    <img src="/images/plaster-icon.png">
                    <span>조형</span>
                </li>
                <li>
                    <img src="/images/mask-icon.png">
                    <span>공예</span>
                </li>
                <li>
                    <img src="/images/drawing-icon.png">
                    <span>그림</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="items-wrapper">
        <div class="content-wrapper">
            <div class="condition-wrapper">
                <div class="order-wrapper">
                    <a class="on" href="?order=seq">등록순</a>
                    <a href="?order=like">추천순</a>
                    <a href="?order=price">가격순</a>
                </div>
                <div class="search-wrapper">
                    <div class="input-wrapper">
                        <input type="text" name="search">
                        <button type="submit">검색</button>
                    </div>
                </div>
            </div>
            <div class="items-list-wrapper">
                <ul>
                    <% for(let i = 0; i< productList.length; i++ ) {%>
                    <li>
                        <a href="/product/<%=productList[i].seq%>">
                            <div class="product-image-wrapper">
                                <img src="<%=productList[i].image_url%>">
                                <% if(productList[i].is_sell) {%>
                                <span class="product-sell">판매</span>
                                <%}%>
                                <% if(productList[i].is_rent) {%>
                                <span class="product-rent">대여</span>
                                <%}%>
                            </div>
                            <p>
                                <span class="product-name"><%=productList[i].title%></span>
                                <span class="product-date"><%=moment(productList[i].created).format('YYYY.MM.DD')%></span>
                            </p>
                        </a>
                    </li>
                    <%}%>
                </ul>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>
</body>
</html>
