<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙 쉐어 - 세상의 모든 작품</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/common.js"></script>
</head>
<body>
<div class="wrapper">
    <% include nav.ejs %>
    <section class="signup-wrapper">
        <div class="content-wrapper">
            <form method="post" action="/users/reset?hash=<%=hash%>">
                <div class="signup-block">
                    <h1>비 밀 번 호 변 경</h1>
                    <div class="row">
                        <div class="input-wrapper">
                            <label for="password">비밀번호</label>
                            <div class="input-group">
                                <p><input type="password" placeholder="새로운 비밀번호를 입력해주세요." id="password" name="password"></p>
                            </div>
                        </div>
                        <p class="error-p pw-error"></p>
                    </div>
                    <div class="row">
                        <div class="input-wrapper">
                            <label for="password-chk">비밀번호 확인</label>
                            <div class="input-group">
                                <p><input type="password" placeholder="새로운 비밀번호를 다시 입력해주세요." id="password-check" name="password-check"></p>
                            </div>
                        </div>
                        <p class="error-p pwc-error"></p>
                    </div>
                    <div class="row">
                        <div class="input-wrapper btn-wrapper">
                            <button type="button" class="submit-btn btn">
                                비밀번호 변경
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<% include footer.ejs %>
<script>
    $(document).ready(function() {
        var validation = {
            id: false,
            email: false
        };

        $('.prev-btn').on("click", function() {
            history.back();
        });

        $('.submit-btn').on("click", function() {
            var $password = $('input[name=password]');
            var $passwordChk = $('input[name=password-check]');
            var $error_pw = $('.pw-error');
            var $error_pwc = $('.pwc-error');


            if($password.val().length < 8) {
                $error_pw.text("* 8자 이상으로 해주세요.");
                return;
            }

            if($password.val() !== $passwordChk.val()) {
                $error_pwc.text("비밀번호를 다시 확인해주세요.");
                return;
            }

            $('form').submit();
        });
    });
</script>
</body>
</html>
