<!DOCTYPE html>
<html>
<head>
    <title>쏙쏙 쉐어 - 세상의 모든 작품</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/common.js"></script>
</head>
<body>
<div class="wrapper">
    <% include nav.ejs %>
    <section class="signup-wrapper">
        <div class="content-wrapper">
            <form method="post" action="/users/signup">
                <div class="signup-block">
                    <h1>회 원 가 입</h1>
                    <div class="row">
                        <div class="input-wrapper">
                            <label for="id">아이디</label>
                            <div class="input-group">
                                <p><input type="text" placeholder="아이디를 입력해주세요." id="id" name="id"></p>
                            </div>
                        </div>
                        <p class="error-p id–error"></p>
                    </div>
                    <div class="row">
                        <div class="input-wrapper">
                            <label for="password">비밀번호</label>
                            <div class="input-group">
                                <p>
                                    <input type="password" placeholder="비밀번호를 입력해주세요." id="password" name="password">
                                </p>
                            </div>
                        </div>
                        <p class="error-p password–error"></p>
                    </div>
                    <div class="row">
                        <div class="input-wrapper">
                            <label for="password-chk">비밀번호 확인</label>
                            <div class="input-group">
                                <p>
                                    <input type="password" placeholder="비밀번호를 다시 입력해주세요." id="password-chk" name="password-chk">
                                </p>
                            </div>
                        </div>
                        <p class="error-p password-chk–error"></p>
                    </div>
                    <div class="row">
                        <div class="input-wrapper">
                            <label for="email">이메일</label>
                            <div class="input-group">
                                <p>
                                    <input type="email" name="email" placeholder="이메일을 입력해주세요">
                                </p>
                            </div>
                        </div>
                        <p class="error-p email–error"></p>
                    </div>
                    <div class="row">
                        <p>
                            <label><input type="checkbox" checked></label>
                            <a>개인정보취급방침</a> 및 <a>이용약관</a>에 동의합니다.
                        </p>
                        <div class="input-wrapper btn-wrapper">
                            <button type="button" class="prev-btn btn">
                                이전
                            </button>
                            <button type="button" class="submit-btn btn">
                                회원가입하기
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
<% include footer.ejs %>
<script>
    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(email).toLowerCase());
    }

    $(document).ready(function(){
        var validation = {
            'id': false,
            'password': false,
            'passwordChk': false,
            'email': false
        };

        $('.prev-btn').on('click', function() {
            history.back();
        });

        $('input[name=id]').on('focusout', function() {
            validation.id = false;

            var $this = $(this);
            var value = $this.val();
            var $error = $('.id–error');

            if(value.length <= 5) {
                $error.text("* 6자 이상으로 해주세요.");
                return;
            }

            $.ajax({
                url: '/users/validation?target=id&value=' + value,
                success: function(result) {
                    if(result.code === 0) {
                        $error.text("중복체크를 해주세요.");
                    } else if(result.code === 1) {
                        $error.text("");
                        validation.id = true;
                    }
                },
                error: function() {
                    $error.text("서버와 연결 중 에러가 발생했습니다.");
                }
            });
        });

        $('input[name=password]').on('focusout', function() {
            validation.password = false;
            var $this = $(this);
            var value = $this.val();
            var $error = $('.password–error');

            if(value.length <= 7) {
                $error.text("* 8자 이상으로 해주세요.");
                return;
            }

            $error.text("");
            validation.password = true;
        });

        $('input[name=password-chk]').on('focusout', function() {
            validation.passwordChk = false;
            var $this = $(this);
            var $password = $('input[name=password]');
            var value = $this.val();
            var $error = $('.password-chk–error');
            var passwordVal = $password.val();

            if(value !== passwordVal) {
                $error.text("비밀번호를 확인해주세요.");
                return;
            }

            $error.text("");
            validation.passwordChk = true;
        });

        $('input[name=email]').on('focusout', function() {
            validation.email = false;
            var $this = $(this);
            var value = $this.val();
            var $error = $('.email–error');

            if(!validateEmail(value)) {
                $error.text("이메일 형식을 지켜주세요.");
                return
            }

            $.ajax({
                url: '/users/validation?target=email&value=' + value,
                success: function(result) {
                    if(result.code === 0) {
                        $error.text("이미 가입된 이메일입니다.");
                    } else if(result.code === 1) {
                        $error.text("");
                        validation.email = true;
                    }
                },
                error: function() {
                    $error.text("서버와 연결 중 에러가 발생했습니다.");
                }
            });
        });

        var doubleClick = false;
        $('.submit-btn').on('click', function(event) {
            if(doubleClick) return;
            doubleClick = true;

            if(!validation.id){
                $('input[name=id]').focus();
                doubleClick = false;
                return false;
            }
            if(!validation.password) {
                $('input[name=password]').focus();
                doubleClick = false;
                return false;
            }
            if(!validation.passwordChk ){
                $('input[name=password-chk]').focus();
                doubleClick = false;
                return false;
            }
            if(!validation.email) {
                $('input[name=email]').focus();
                doubleClick = false;
                return false;
            }
            alert("회원가입되었습니다.");

            $('form').submit();
        });
    });
</script>
</body>
</html>
