.main-wrapper{
    width: 100%;
    height: 400px;
    background: #FAE57C;
}

.main-wrapper .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main-wrapper .content-wrapper .slogan {
    flex-basis: 65%;
}
.main-wrapper .content-wrapper .slogan .title{
    font-size: 50px;
    font-weight: 600;
    color: #4d4d4d;
    margin-bottom: 0;
}
.main-wrapper .content-wrapper .slogan .sub-title{
    font-size: 36px;
    font-weight: 600;
    color: #ffb000;
    margin-top: -5px;
}
.main-wrapper .content-wrapper .slogan p {
    font-size: 14px;
    font-weight: 200;
    color: #808080;
}
.main-wrapper .content-wrapper .slogan p.togo-wrapper {
    margin-top: 10px;
}
.main-wrapper .content-wrapper .slogan p.togo-wrapper a{
    position: relative;
    display: inline-block;
    width: 180px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #b4b4b4;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    color: #323232;
}

.main-wrapper .content-wrapper .slogan p.togo-wrapper a:hover {
    background: transparent;
}

.main-wrapper .content-wrapper .slogan p.togo-wrapper a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 0;
    z-index: -1;
    background: white;
    -webkit-border-radius: 0 0 50% 50%;
    -moz-border-radius: 0 0 50% 50%;
    border-radius: 0 0 50% 50%;
    transition: height 1.5s;
}

.main-wrapper .content-wrapper .slogan p.togo-wrapper a:hover::before {
    height: 180%;
}

.main-wrapper .content-wrapper .introduce {
    text-align: right;
}

.product-wrapper .content-wrapper {
    margin-top: 30px;
}

.product-wrapper .content-wrapper h1{
    font-size: 22px;
    border-bottom: 2px solid #FAE57C;
    position: relative;
}

.product-wrapper .content-wrapper > a{
    color: #808080;
    font-size: 14px;
    vertical-align: bottom;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
}

.product-wrapper .content-wrapper ul {
    display: flex;
    flex-wrap: wrap;
}

.product-wrapper .content-wrapper ul li {
    flex: 1 0 calc(100% / 3);
    box-sizing: border-box;
    color: #171e42;
    padding: 10px;
    max-width: calc(100% / 3);
}

.product-wrapper .content-wrapper ul li .product-image-wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
}
.product-wrapper .content-wrapper ul li .product-image-wrapper:before{
    display: block;
    content: " ";
    width: 100%;
    height: 0;
    position: absolute;
}

.product-wrapper .content-wrapper ul li .product-image-wrapper img{
    width: 100%;
}

.product-wrapper .content-wrapper ul li .product-image-wrapper span {
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    line-height: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.product-wrapper .content-wrapper ul li .product-image-wrapper span.product-sell {
    background: #ffbe18;
}

.product-wrapper .content-wrapper ul li .product-image-wrapper span.product-rent {
    background: #f05a6e;
    right: 60px;
}

.product-wrapper .content-wrapper ul li p {
    display: flex;
    color: #303030;
}

.product-wrapper .content-wrapper ul li p .product-name {
    display: block;
    flex-basis: 70%;
    font-size: 18px;
}

.product-wrapper .content-wrapper ul li p .product-date {
    display: block;
    text-align: right;
    flex-basis: 30%;
    align-self: flex-end;
    color: #808080;
}

.service-review {
    margin-top: 15px;
    margin-bottom: 30px;
}
.service-review .content-wrapper {
    display: flex;
}

.service-review .content-wrapper .author-wrapper {
    display: block;
    width: 70%;
    flex-basis: 70%;
    margin-right: 15px;
}

.service-review .content-wrapper .author-wrapper h1 {
    font-size: 22px;
    border-bottom: 2px solid #FAE57C;
    position: relative;
    margin-bottom: 10px;
}

.service-review .content-wrapper .author-wrapper ul {

}

.service-review .content-wrapper .author-wrapper ul li{
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    margin-left: 15px;
}
.service-review .content-wrapper .author-wrapper ul li:last-child{
    border-bottom: 0;
}

.service-review .content-wrapper .author-wrapper ul li .image-wrapper {
    flex: 30%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.service-review .content-wrapper .author-wrapper ul li .image-wrapper img{
    width: 150px;
    height: 80px;
}
.service-review .content-wrapper .author-wrapper ul li .text-wrapper {
    flex: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service-review .content-wrapper .author-wrapper ul li .text-wrapper .author-name {
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: #303030;
    margin-bottom: 10px;
}
.service-review .content-wrapper .author-wrapper ul li .text-wrapper .author-wording{
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: #303030;
}

.service-review .content-wrapper .service-review-wrapper {
    width: 30%;
    flex: 1 30%;
}

.service-review .content-wrapper .service-review-wrapper h1 {
    font-size: 22px;
    border-bottom: 2px solid #f05a6e;
    position: relative;
    margin-bottom: 10px;
}

.service-review .content-wrapper .service-review-wrapper ul {
    height: 430px;
    overflow-y: scroll;;
}

.service-review .content-wrapper .service-review-wrapper ul li {
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #f0f0f0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
    color: #303030;
}
.service-review .content-wrapper .service-review-wrapper ul li .name{
    font-size: 16px;
    font-weight: 600;
}

nav {
    background: #FAE57C;
    width: 100%;
    text-align: right;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a{
    color: #808080;
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
}

nav a.tohome{
    display: none;
}