.title-wrapper {
    background-image: url('/images/background.jpg');
}
.title-wrapper:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.title-wrapper .selector-wrapper {
    position: absolute;
    width: 450px;
    height: 80px;
    background: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-border-radius: 35px 35px 0 0;
    -moz-border-radius: 35px 35px 0 0;
    border-radius: 35px 35px 0 0;
}

.title-wrapper .selector-wrapper ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.title-wrapper .selector-wrapper ul li:first-child {
    -webkit-border-radius: 35px 0 0 0;
    -moz-border-radius: 35px 0 0 0;
    border-radius: 35px 0 0 0;
}

.title-wrapper .selector-wrapper ul li:last-child {
    -webkit-border-radius: 0 35px 0 0;
    -moz-border-radius: 0 35px 0 0;
    border-radius: 0 35px 0 0;
}
.title-wrapper .selector-wrapper ul li {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: flex-end;
}

.title-wrapper .selector-wrapper ul li:hover {
    background: #fafafa;
}

.title-wrapper .selector-wrapper ul li span{
    margin-bottom: 5px;
}
.title-wrapper .selector-wrapper ul li img{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.items-wrapper {
    margin-bottom: 50px;
}
.condition-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #FAE57C;
    margin-bottom: 15px;
}

.condition-wrapper .order-wrapper {
    display: flex;
    align-items: flex-end;
}

.condition-wrapper .order-wrapper a {
    color: #808080;
    text-decoration: none;
    margin-right: 15px;
}
.condition-wrapper .order-wrapper a.on {
    color: #303030;
}
.condition-wrapper .order-wrapper a:active {
    color: #303030;
}

.condition-wrapper .search-wrapper .input-wrapper {
    display: flex;
    justify-content: space-around;
}
.condition-wrapper .search-wrapper .input-wrapper input{
    width: 230px;
    height: 35px;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top:1px solid #a0a0a0;
    border-bottom: 1px solid #a0a0a0;
    border-left: 1px solid #a0a0a0;
    border-right: 0;
    padding: 0 10px;
    font-size: 16px;
}
.condition-wrapper .search-wrapper .input-wrapper button {
    width: 40px;
    height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border:0;
    background: #32c8a5;
    font-size: 14px;
    color: white;
}

.items-list-wrapper ul {
    display: flex;
    flex-wrap: wrap;
}

.items-list-wrapper ul li {
    flex: 1 0 calc(100% / 4);
    box-sizing: border-box;
    color: #171e42;
    padding: 10px;
    max-width: calc(100% / 4);
}

.items-list-wrapper ul li .product-image-wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
}
.items-list-wrapper ul li .product-image-wrapper:before{
    display: block;
    content: " ";
    width: 100%;
    height: 0;
    position: absolute;
}

.items-list-wrapper ul li .product-image-wrapper img{
    width: 100%;
}

.items-list-wrapper ul li .product-image-wrapper span {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    line-height: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.items-list-wrapper ul li .product-image-wrapper span.product-sell {
    background: #ffbe18;
}

.items-list-wrapper ul li .product-image-wrapper span.product-rent {
    background: #f05a6e;
    right: 55px;
}

.items-list-wrapper ul li p {
    display: flex;
    color: #303030;
}

.items-list-wrapper ul li p .product-name {
    display: block;
    flex-basis: 70%;
    font-size: 18px;
}

.items-list-wrapper ul li p .product-date {
    display: block;
    text-align: right;
    flex-basis: 30%;
    align-self: flex-end;
    color: #808080;
}

.item-summery-wrapper .content-wrapper > h1{
    margin-top: 30px;
    font-size: 22px;
    border-bottom: 2px solid #FAE57C;
    position: relative;
    margin-bottom: 10px;
}

.item-summery-wrapper .content-wrapper .content-block{
    display: flex;
}

.item-summery-wrapper .content-wrapper .content-block .image-wrapper{
    position: relative;
    flex-basis: 60%;
    flex-direction: row;
}

.item-summery-wrapper .content-wrapper .content-block .image-wrapper ul.images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: auto;
    border: 2px solid #ccc;
}
.item-summery-wrapper .content-wrapper .content-block .image-wrapper ul.images li{
    display: none;
}
.item-summery-wrapper .content-wrapper .content-block .image-wrapper ul.images li.on{
    display: block;
}
.item-summery-wrapper .content-wrapper .content-block .image-wrapper ul.images li img{
    width: 100%;
}

.item-summery-wrapper .content-wrapper .content-block .image-wrapper ul.indicators{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15px;
}

.item-summery-wrapper .content-wrapper .content-block .image-wrapper ul.indicators li {
    display: inline-block;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #8dc63f;
}

.item-summery-wrapper .content-wrapper .content-block .image-wrapper ul.indicators li.on{
    background: #8dc63f;
}

.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper {
    margin-top: 30px;
    width: 40%;
    flex-basis: 40%;
}


.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .header {
    border-bottom: 1px solid #808080;
    padding-bottom: 15px;
}

.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .header h1 {
    font-size: 30px;
    color: #303030;
}

.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .header h1 + h2{
    margin-top: 10px;
}

.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .header h2{
    font-size: 16px;
    font-weight: 600;
    color: #3e620e;
}

.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body {
    color: #303030;
}
.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row {
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    padding: 15px;
}
.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row .label{
    font-weight: 600;
    width: 30%;
    line-height: 1.2rem;
}

.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row .label.hide-label{
    width: 100%;
    display: block;
    cursor: pointer;
}
.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row .value{
    position: absolute;
    right: 15px;
    font-size: 1.2rem;
}
.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row .hide-value{
    display: none;
    margin-top: 5px;
}
.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row .hide-value.on{
    display: block;
}

.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row:last-child {
    border-bottom: 0;
}
.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row.btns-wrapper {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row.btns-wrapper a{
    flex: 1 0 50%;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    margin: 0 5px;
}

.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row.btns-wrapper a.btn-rent {
    background: white;
    border: 1px solid #d9d9d9;
    line-height: 45px;
    color: #303030;
}

.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row.btns-wrapper a.btn-rent:hover{
    background: #f0f0f0;
}

.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row.btns-wrapper a.btn-buy{
    background: #2e8de5;
    border: 1px solid #217fd7;
    line-height: 45px;
    color: white;
}
.item-summery-wrapper .content-wrapper .content-block .product-introduce-wrapper .body .row.btns-wrapper a.btn-buy:hover{
    background: #217fd7;
}


.item-similar-wrapper .content-wrapper > h1{
    margin-top: 30px;
    font-size: 22px;
    border-bottom: 2px solid #f05a6e;
    position: relative;
    margin-bottom: 10px;
}

.item-similar-wrapper .content-wrapper .content-block{
    display: flex;
}
.item-similar-wrapper .content-wrapper .content-block .btn-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    flex-basis: 5%;
    cursor: pointer;
}

.item-similar-wrapper .content-wrapper .content-block .btn-scroll img{
    width: 30%;
    height: auto;
}

.item-similar-wrapper .content-wrapper .content-block ul {
    flex-basis: 90%;
    width: 100%;
    margin-bottom: 30px;
    overflow-x: scroll;
    white-space: nowrap;
}

.item-similar-wrapper .content-wrapper .content-block ul li {
    display: inline-block;
    width: 150px;
    margin-right: 15px;
}

.item-similar-wrapper .content-wrapper .content-block ul li .image-wrapper {
    width: 150px;
}
.item-similar-wrapper .content-wrapper .content-block ul li .image-wrapper img{
    width: 100%;
}

.item-similar-wrapper .content-wrapper .content-block ul li p{
    margin-top: 0;
    line-height: 1;
    padding: 0 5px;
}

.modal-box.rent-request .rent-request-wrapper {
    position: absolute;
    top: 50px;
    left:0; right: 0;
    margin: auto;
    background: white;
    width: 500px;
    border: 1px solid #808080;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-box.rent-request .rent-request-wrapper h1 {
    font-size: 24px;
    color: #32c8a5;
    padding-bottom: 10px;
    border-bottom: 1px solid #32c8a5;
}

.modal-box.rent-request .rent-request-wrapper div.row{
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 0;
}
.modal-box.rent-request .rent-request-wrapper div.row:last-child{
    border-bottom: 0;
}

.modal-box.rent-request .rent-request-wrapper div.row label{
    flex-basis: 30%;
    font-weight: 600;
    width: 30%;
    align-self: center;
}
.modal-box.rent-request .rent-request-wrapper div.row .input-group select{
    width: 150px;
    height: 35px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
}

.modal-box.rent-request .rent-request-wrapper div.row .input-group{
    flex-basis: 70%;
    text-align: right;
}
.modal-box.rent-request .rent-request-wrapper div.row .input-group input{
    font-size: 16px;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}

.modal-box.rent-request .rent-request-wrapper div.row .input-group textarea{
    font-size: 14px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}
.modal-box.rent-request .rent-request-wrapper div.row.rent-day-wrapper input{
    width: 40px;
    padding: 0 3px;
}

.modal-box.rent-request .rent-request-wrapper div.row.address-wrapper input{
    display: block;
    width:100%;
}
.modal-box.rent-request .rent-request-wrapper div.row.address-wrapper input:first-child{
    margin-bottom: 5px;
}
.modal-box.rent-request .rent-request-wrapper div.row textarea{
    width: 100%;
}


.modal-box.rent-request .rent-request-wrapper div.row .btn{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    background: #2e8de5;
    border: 1px solid #217fd7;
    line-height: 45px;
    color: white;
}
.modal-box.rent-request .rent-request-wrapper div.row .btn:hover{
    background: #217fd7;
}


.modal-box.buy-request .buy-request-wrapper {
    position: absolute;
    top: 50px;
    left:0; right: 0;
    margin: auto;
    background: white;
    width: 500px;
    border: 1px solid #808080;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-box.buy-request .buy-request-wrapper h1 {
    font-size: 24px;
    color: #32c8a5;
    padding-bottom: 10px;
    border-bottom: 1px solid #32c8a5;
}

.modal-box.buy-request .buy-request-wrapper div.row{
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    padding: 15px 0;
}
.modal-box.buy-request .buy-request-wrapper div.row:last-child{
    border-bottom: 0;
}

.modal-box.buy-request .buy-request-wrapper div.row label{
    flex-basis: 30%;
    font-weight: 600;
    width: 30%;
    align-self: center;
}
.modal-box.buy-request .buy-request-wrapper div.row .input-group select{
    width: 150px;
    height: 35px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: white;
}

.modal-box.buy-request .buy-request-wrapper div.row .input-group{
    flex-basis: 70%;
    text-align: right;
}
.modal-box.buy-request .buy-request-wrapper div.row .input-group input{
    font-size: 16px;
    height: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}

.modal-box.buy-request .buy-request-wrapper div.row .input-group textarea{
    font-size: 14px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
}
.modal-box.buy-request .buy-request-wrapper div.row.buy-day-wrapper input{
    width: 40px;
    padding: 0 3px;
}

.modal-box.buy-request .buy-request-wrapper div.row.address-wrapper input{
    display: block;
    width:100%;
}
.modal-box.buy-request .buy-request-wrapper div.row.address-wrapper input:first-child{
    margin-bottom: 5px;
}
.modal-box.buy-request .buy-request-wrapper div.row textarea{
    width: 100%;
}


.modal-box.buy-request .buy-request-wrapper div.row .btn{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    background: #2e8de5;
    border: 1px solid #217fd7;
    line-height: 45px;
    color: white;
}
.modal-box.buy-request .buy-request-wrapper div.row .btn:hover{
    background: #217fd7;
}