.signup-wrapper{
    text-align: center;
    height: calc(100% - 120px);
}

.signup-wrapper .content-wrapper {
    position: relative;
}
.signup-wrapper .signup-block a{
    color: #32c8a5;
}

.signup-wrapper .signup-block {
    position: absolute;
    width: 600px;
    border: 1px solid #e0e0e0;;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.signup-wrapper .signup-block h1{
    font-size: 24px;
    color: #32c8a5;
    padding-bottom: 10px;
    border-bottom: 1px solid #32c8a5;
}

.signup-wrapper .signup-block .row {
    border-bottom: 1px solid #fafafa;
    padding: 10px;
}

.signup-wrapper .signup-block .row .error-p{
    width:70%;
    color: #ff3333;
    text-align: left;
    margin-left: auto;
}

.signup-wrapper .signup-block .input-wrapper {
    display: flex;
}
.signup-wrapper .signup-block .input-wrapper:last-child{
    padding-bottom: 0;
    border-bottom: 0;
}

.signup-wrapper .signup-block .input-wrapper label {
    flex-basis: 30%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-wrapper .signup-block .input-wrapper .input-group {
    flex-basis: 70%;
}

.signup-wrapper .signup-block .input-wrapper .input-group input[type=text],
.signup-wrapper .signup-block .input-wrapper .input-group input[type=password],
.signup-wrapper .signup-block .input-wrapper .input-group input[type=email] {
    width: 100%;
    height: 35px;
    border: 1px solid #e0e0e0;;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 10px;
}

.signup-wrapper .signup-block .input-wrapper.btn-wrapper{
    display: flex;
    width: 80%;
    margin: 10px auto 0;
}

.signup-wrapper .signup-block .input-wrapper.btn-wrapper .btn{
    height: 45px;
}

.signup-wrapper .signup-block .input-wrapper.btn-wrapper .prev-btn{
    flex-basis: 30%;
    margin-right: 10px;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    background: white;
    border: 1px solid #d9d9d9;
    color: #303030;
}

.signup-wrapper .signup-block .input-wrapper.btn-wrapper .prev-btn:hover{
    background: #d9d9d9;
}

.signup-wrapper .signup-block .input-wrapper.btn-wrapper .submit-btn{
    flex: 1;
    flex-basis: 70%;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    background: #2e8de5;
    border: 1px solid #217fd7;
    color: white;
}
.signup-wrapper .signup-block .input-wrapper.btn-wrapper .submit-btn:hover {
    background: #217fd7;
}

.signup-wrapper .signup-block .input-wrapper.btn-wrapper .confirm-btn{
    flex-basis: 100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 18px;
    background: #2e8de5;
    border: 1px solid #217fd7;
    color: white;
}
.signup-wrapper .signup-block .input-wrapper.btn-wrapper .confirm-btn:hover {
    background: #217fd7;
}

.signup-wrapper .signup-block .getID-wrapper {
    text-align: center;
    margin-top: 15px;
}
.signup-wrapper .signup-block .getID-wrapper .highlight{
    color: #32c8a5;
    font-size: 22px;
}