html {
    height: 100%;
}
body {
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    word-spacing: -0.005rem;
}
.wrapper{
    min-height: calc(100% - 105px);
}

a{
    text-decoration: none;
    cursor: pointer;
}

.content-wrapper{
    width: 1170px;
    margin: auto;
}

nav {
    position: relative;
    background: #282832;
    width: 100%;
    text-align: right;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 5px;
    cursor: pointer;
}

nav a.tohome{
    position: absolute;
    left: 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 105px;
    background: #282832;
}
footer p {
    color: #a0a0a0;
    text-align: center;
}

.modal-box{
    display: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}

.modal-box .login-wrapper{
    position: absolute;
    width: 500px;
    height: 350px;
    background: white;
    border: 1px solid #808080;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-box .login-wrapper h1{
    font-size: 24px;
    color: #32c8a5;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #32c8a5;
}

.modal-box .login-wrapper input[type=text],
.modal-box .login-wrapper input[type=password] {
    width: 100%;
    height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
}

.modal-box .login-wrapper input[name=id] {
    margin: 0 0 8px;
}

.modal-box .login-wrapper input[name=password] {
    margin: 0 0 5px;
}

.modal-box .login-wrapper button {
    width: 100%;
    height: 35px;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.modal-box .login-wrapper button.login{
    background: #32c8a5;
    border: 1px solid #32c8a5;
}

.modal-box .login-wrapper button.signup{
    background: #fbbe18;
    border: 1px solid #fbbe18;
    margin-top: 5px;
    margin-bottom: 10px;
}

.modal-box .login-wrapper a {
    cursor: pointer;
    color: #00B7FF;
}

.modal-box .login-wrapper .find-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 15px auto 0;
}

.modal-box  .btn-close{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.title-wrapper{
    width: 100%;
    height: 220px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
}

.title-wrapper .title-slogan {
    position: relative;
    text-align: center;
    font-size: 46px;
    font-weight: 600;
    color: white;
    padding-top: 50px;
}