.title-wrapper {
    background-image: url('/images/background2.jpg');
    background-position: center 58%;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.title-wrapper:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.title-wrapper .title-slogan {
    padding-top: 70px;
}

.my-info-wrapper {
    margin: 20px auto;
    border: 1px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fafafa;
}

.my-info-wrapper > h1{
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
}
.my-info-wrapper > h1 img{
    vertical-align: -15%;
}

.my-info-wrapper .content-part{
    display: flex;
}

.my-info-wrapper .content-part .nav-part{
    flex: 1;
    flex-basis: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

.my-info-wrapper .content-part .nav-part ul{
}
.my-info-wrapper .content-part .nav-part ul li{
    padding: 10px 15px;
    font-size: 16px;
    color: #303030;
}
.my-info-wrapper .content-part .nav-part ul li a{
    color: inherit;
}

.my-info-wrapper .content-part .nav-part ul li.on{
    font-weight: 600;
}


.my-info-wrapper .content-part .info-part{
    flex: 80%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    border-left: 1px solid #e0e0e0;
    min-height: 350px;
}

.my-info-wrapper .content-part .info-part label{
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.my-info-wrapper .content-part .info-part .btn-wrapper{
    text-align: right;
}

.my-info-wrapper .content-part .info-part .error-p{
    color:#ff3333;
    margin:0;
    margin-bottom: 5px;
}

.my-info-wrapper .content-part .info-part .btn-wrapper button{
    width: 100px;
    height: 40px;
    font-size: 16px;
    background: #2e8de5;
    border: 1px solid #217fd7;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.my-info-wrapper .content-part .info-part input[type=text],
.my-info-wrapper .content-part .info-part input[type=password] {
    width: 300px;
    height: 35px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.my-info-wrapper .content-part .info-part h1 {
    font-size: 18px;
    font-weight: 600;
}


.my-info-wrapper .content-part .info-part a{
    color: #333;
}

.my-info-wrapper .content-part .info-part li:first-child{
    margin-top: 10px;
}

.my-info-wrapper .content-part .info-part li{
    margin-top: 5px;
    color: #333;
}

.my-info-wrapper .content-part .info-part .title{
    font-size: 16px;
    font-weight: 600;
}

.my-info-wrapper .content-part .info-part .author {
    font-size: 15px;
}

.my-info-wrapper .content-part .info-part .md-block{
    margin-top: 30px;
}